.minecraft/.fabric
.minecraft/.optifabric
.minecraft/coremods
.minecraft/logs
.minecraft/resourcepacks
.minecraft/resources
.minecraft/saves
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/stats
*.log
.DS_Store
mmc-pack.json
